attr==0.3.2
boto3==1.39.4
botocore==1.39.4
chardet==5.2.0
colorama==0.4.6
ConfigParser==7.2.0
cryptography==46.0.3
docutils==0.22.2
filelock==3.20.0
h2==4.3.0
ipywidgets==8.1.7
keyring==25.6.0
Pillow==12.0.0
protobuf==6.33.0
pyOpenSSL==25.3.0
setuptools==80.9.0
simplejson==3.20.2
urllib3_secure_extra==0.1.0
usercustomize==1.0.0
zstandard==0.25.0
