---
- name: Set s3 bucket policy for target s3 bucket
  hosts: all
  tasks:
    - name: connect to target account
      amazon.aws.sts_assume_role:
        region: us-west-2
        role_arn: ""
        role_session_name: "update_s3_bucket_policy"
      register: assumed_role

    - name: adjust/edit target s3 bucket policy
      amazon.aws.s3_bucket:
        region: us-west-2
        access_key: "{{ assumed_role.sts_creds.access_key }}"
        secret_key: "{{ assumed_role.sts_creds.secret_key }}"
        session_token: "{{ assumed_role.sts_creds.session_token }}"
        name: "{{ target_bucket }}"
        state: present
        policy: "{{ policy }}"
      register: result
